{% for entry in entries %}
    {% if entry.currentStream %}
        <a class="link-twitch-live icon-twitch pulse" href="https://twitch.tv/{{ entry.login }}" title="{{ entry.display_name }} live">
            Jetzt live!
        </a>
    {% else %}
        <span class="icon-twitch">Offline</span>
    {% endif %}
{% endfor %}