{% for entry in entries %}
    {% if entry.currentStream %}
        <div class="widget-twitch big">
            <div class="widget-twitch-screenshot">
                <img src="{{ entry.currentStream.thumbnail_url|replace({'{width}': "800", '{height}': "450"}) }}" alt="{{ entry.display_name }} {{ entry.currentStream.type }}">
            </div>
            <div class="content">
                <div class="widget-twitch-channel-status">
                    <div class="widget-twitch-name">{{ entry.display_name }}</div>
                    <div class="link-twitch-live icon-twitch">
                        Jetzt live!
                    </div>
                </div>
                <div class="widget-twitch-info">
                    <div class="widget-twitch-stream-title">
                        {{ entry.currentStream.title }} [{{ entry.currentStream.language|upper }}]
                    </div>

                    {% if entry.currentStream.currentGame %}
                        <div class="widget-twitch-game stream-description">
                            {{ entry.currentStream.currentGame.name }}
                        </div>
                    {% endif %}
                
                    <div class="widget-twitch-viewer-count stream-description">
                        {{ entry.currentStream.viewer_count }} Zuschauer
                    </div>

                    <div class="widget-twitch-time stream-description">
                        live seit {{entry.currentStream.started_at|date("H:i", "Europe/Paris")}} Uhr
                    </div>        
                </div>
                <a class="widget-twitch-button" href="https://twitch.tv/{{ entry.login }}" title="{{ entry.display_name }} offline">
                    Zum Kanal
                </a>   
            </div>
        </div>
    {% else %}
        <div class="widget-twitch big offline">
            <div class="widget-twitch-screenshot">
                {% if entry.offline_image_url %}
                    <img src="{{ entry.offline_image_url }}" alt="{{ entry.display_name }}" width="800" height="450" />
                {% else %}
                    <img src="https://static-cdn.jtvnw.net/ttv-static/404_preview-400x225.jpg" alt="{{ entry.display_name }}" />
                {% endif %}
            </div>
            <div class="content">
                <div class="widget-twitch-channel-status offline">
                    <div class="widget-twitch-name">
                        {{ entry.display_name }}
                    </div>
                    <div class="icon-twitch">
                        Offline
                    </div>
                </div>
                <div class="widget-twitch-info">
                    {{ entry.description }}
                </div>
                <a class="widget-twitch-button" href="https://twitch.tv/{{ entry.login }}" title="{{ entry.display_name }} offline">
                    Zum Kanal
                </a>  
            </div>
        </div>
    {% endif %}
{% endfor %}