//--------------------------------------------------------------
// Twitch status - shows if stream is online/offline
//--------------------------------------------------------------
.icon-twitch {
    text-align: right;
}
.icon-twitch:before {
    margin-right: .5rem;
    content: "\f1e8";
    font-family: "Font Awesome Brands"; // Needs Font Awesome Brands installed
}

.link-twitch-live,
.link-twitch-live:hover {
    color: red;
}

.pulse {
    animation: opacity-pulse 2.5s ease-out;
    animation-iteration-count: infinite; 
    opacity: 1;
}

@-webkit-keyframes opacity-pulse {
    0% {opacity: .1;}
    50% {opacity: 1;}
    100% {opacity: .1;}
}


//--------------------------------------------------------------
// Twitch widget - styling for both widgets
//--------------------------------------------------------------
.widget-twitch-channel-status {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.widget-twitch-title {
    font-weight: 700;
}

.widget-twitch-screenshot {
    line-height: 0;
}

.widget-twitch-channel-status .twitch {
    text-align: right;
}

.widget-twitch-list .widget-twitch,
.widget-twitch.big .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.widget-twitch-info {
    flex: 1 0 auto;
}

.widget-twitch .widget-twitch-button {
    padding: .5rem;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    align-self: flex-end;
    z-index: 10;
}

//--------------------------------------------------------------
// Twitch big widget - shows stream information in a big widget
//--------------------------------------------------------------
@media(min-width: 700px) {
    .widget-twitch.big {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.widget-twitch.big .widget-twitch-stream-title {
    font-size: 1rem;
}


//--------------------------------------------------------------
// Twitch small widget - shows stream information in a small 
// widget, usefull to show multiple channela in a list
//--------------------------------------------------------------
.widget-twitch.small .widget-twitch-stream-title {
    margin-bottom: .5rem;
}

.widget-twitch.small img {
    width: 100%;
}

//--------------------------------------------------------------
// Twitch widget list for multiple small widgets
//--------------------------------------------------------------
.widget-twitch-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 1;
}

@media(min-width: 450px) {
    .widget-twitch-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px) {
    .widget-twitch-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .widget-twitch.small {
        max-width: 300px;
        position: relative;
    }
}